<a href="https://colab.research.google.com/github/mmaithani/Informer2020/blob/main/informers_for_LSTF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Clone the repo

In [1]:
!git clone https://github.com/zhouhaoyi/Informer2020.git

Cloning into 'Informer2020'...
remote: Enumerating objects: 158, done.
remote: Counting objects: 100% (158/158), done.
remote: Compressing objects: 100% (123/123), done.
remote: Total 158 (delta 75), reused 81 (delta 32), pack-reused 0
Receiving objects: 100% (158/158), 5.40 MiB | 4.39 MiB/s, done.
Resolving deltas: 100% (75/75), done.

In [2]:
% cd Informer2020

/content/Informer2020

In [4]:
!ls

data  img      main_informer.py  README.md	   utils
exp   LICENSE  models		 requirements.txt

# install dependency

In [5]:
! pip install -r requirements.txt

Collecting matplotlib==3.1.1
  Downloading https://files.pythonhosted.org/packages/57/4f/dd381ecf6c6ab9bcdaa8ea912e866dedc6e696756156d8ecc087e20817e2/matplotlib-3.1.1-cp36-cp36m-manylinux1_x86_64.whl (13.1MB)
     |████████████████████████████████| 13.1MB 236kB/s
Collecting numpy==1.17.3
  Downloading https://files.pythonhosted.org/packages/0e/46/ae6773894f7eacf53308086287897ec568eac9768918d913d5b9d366c5db/numpy-1.17.3-cp36-cp36m-manylinux1_x86_64.whl (20.0MB)
     |████████████████████████████████| 20.0MB 169kB/s
Collecting pandas==0.25.1
  Downloading https://files.pythonhosted.org/packages/73/9b/52e228545d14f14bb2a1622e225f38463c8726645165e1cb7dde95bfe6d4/pandas-0.25.1-cp36-cp36m-manylinux1_x86_64.whl (10.5MB)
     |████████████████████████████████| 10.5MB 55.1MB/s
Collecting scikit_learn==0.21.3
  Downloading https://files.pythonhosted.org/packages/a0/c5/d2238762d780dde84a20b8c761f563fe882b88c5a5fb03c056547c442a19/scikit_learn-0.21.3-cp36-cp36m-manylinux1_x86_64.whl (6.7MB)
     |████████████████████████████████| 6.7MB 56.4MB/s
Collecting torch==1.2.0
  Downloading https://files.pythonhosted.org/packages/30/57/d5cceb0799c06733eefce80c395459f28970ebb9e896846ce96ab579a3f1/torch-1.2.0-cp36-cp36m-manylinux1_x86_64.whl (748.8MB)
     |████████████████████████████████| 748.9MB 21kB/s
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==3.1.1->-r requirements.txt (line 1)) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib==3.1.1->-r requirements.txt (line 1)) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==3.1.1->-r requirements.txt (line 1)) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==3.1.1->-r requirements.txt (line 1)) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas==0.25.1->-r requirements.txt (line 3)) (2018.9)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit_learn==0.21.3->-r requirements.txt (line 4)) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit_learn==0.21.3->-r requirements.txt (line 4)) (1.0.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib==3.1.1->-r requirements.txt (line 1)) (1.15.0)
ERROR: torchvision 0.8.1+cu101 has requirement torch==1.7.0, but you'll have torch 1.2.0 which is incompatible.
ERROR: tensorflow 2.4.0 has requirement numpy~=1.19.2, but you'll have numpy 1.17.3 which is incompatible.
ERROR: google-colab 1.0.0 has requirement pandas~=1.1.0; python_version >= "3.0", but you'll have pandas 0.25.1 which is incompatible.
ERROR: fbprophet 0.7.1 has requirement pandas>=1.0.4, but you'll have pandas 0.25.1 which is incompatible.
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
Installing collected packages: numpy, matplotlib, pandas, scikit-learn, torch
  Found existing installation: numpy 1.19.4
    Uninstalling numpy-1.19.4:
      Successfully uninstalled numpy-1.19.4
  Found existing installation: matplotlib 3.2.2
    Uninstalling matplotlib-3.2.2:
      Successfully uninstalled matplotlib-3.2.2
  Found existing installation: pandas 1.1.5
    Uninstalling pandas-1.1.5:
      Successfully uninstalled pandas-1.1.5
  Found existing installation: scikit-learn 0.22.2.post1
    Uninstalling scikit-learn-0.22.2.post1:
      Successfully uninstalled scikit-learn-0.22.2.post1
  Found existing installation: torch 1.7.0+cu101
    Uninstalling torch-1.7.0+cu101:
      Successfully uninstalled torch-1.7.0+cu101
Successfully installed matplotlib-3.1.1 numpy-1.17.3 pandas-0.25.1 scikit-learn-0.21.3 torch-1.2.0

In [4]:
import pandas as pd

# download ETT datset from [here](https://github.com/zhouhaoyi/ETDataset)


1.   create a Folder inside your **Informer2020/data** directory named ETT
2.   Copy all the downloaded dataset CSV files into > "/content/Informer2020/data/ETT/"

In [13]:
h1=pd.read_csv("/content/Informer2020/data/ETT/ETTh1.csv")

In [14]:
h1.head()

                  date   HUFL   HULL   MUFL   MULL   LUFL   LULL         OT
0  2016-07-01 00:00:00  5.827  2.009  1.599  0.462  4.203  1.340  30.531000
1  2016-07-01 01:00:00  5.693  2.076  1.492  0.426  4.142  1.371  27.787001
2  2016-07-01 02:00:00  5.157  1.741  1.279  0.355  3.777  1.218  27.787001
3  2016-07-01 03:00:00  5.090  1.942  1.279  0.391  3.807  1.279  25.044001
4  2016-07-01 04:00:00  5.358  1.942  1.492  0.462  3.868  1.279  21.948000

In [9]:
m1=pd.read_csv("/content/Informer2020/data/ETT/ETTm1.csv")
m1.head()

                                                     -6.84499979019165  ...  29.38500022888184
2017-05-14 06:45:00 28.230000 7.539 88.297997 9.194             -6.845  ...          29.385000
2017-05-14 07:00:00 27.726999 7.623 88.297997 9.650             -8.071  ...          29.823999
2017-05-14 07:15:00 27.056999 7.037 88.297997 9.060             -9.403  ...          29.823999
2017-05-14 07:30:00 20.438999 0.000 88.297997 6.085             -9.403  ...          30.483000
2017-05-14 07:45:00 21.863001 4.105 88.297997 6.407             -9.403  ...          30.923000

[5 rows x 3 columns]

In [12]:
# run code in local machine as it takes time and colab doesnt support full requirements

In [ ]:
# ETTh1
!python -u main_informer.py --model informer --data ETTh1 --attn prob

In [ ]:
# ETTh2
!python -u main_informer.py --model informer --data ETTh2 --attn prob

In [ ]:
# ETTm1
python -u main_informer.py --model informer --data ETTm1 --attn prob

![result](https://github.com/zhouhaoyi/Informer2020/raw/main/img/result_univariate.png)